<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="G:/GitQARepository1/CurrentWorkSpace/FullStackQANov11th2024Repository/TestngAutomation/src/test/java/com/sgtesting"><classes><class name="com.sgtesting.AppTest"><methods><include name="shouldAnswerWithTrue"/></methods></class><class name="com.sgtesting.employee.Employee"><methods><include name="createEmployee"/><include name="modifyEmployee"/><include name="deleteEmployee"/></methods></class><class name="com.sgtesting.parameters.Users"><methods><include name="createUser"/><include name="modifyUser"/><include name="deleteUser"/></methods></class><class name="com.sgtesting.users.Users"><methods><include name="createUser"/><include name="modifyUser"/><include name="deleteUser"/></methods></class></classes></test></suite>